.sub-header {
    display: flex;
    gap: 5px;
    height: 60px;
    align-items: center;
    padding: 0 25px;
    position: sticky;
    top: 70px;
    z-index: 10;
    background-color: gainsboro;
    box-shadow: rgb(183, 185, 187) 3px 3px 6px 0px inset;

    .dot {
        margin-top: 6px;
    }

    .title {
        font-size: 22px;
        font-weight: 500;
    }

    button {
        border: none;
        outline: none;
        padding: 10px 20px;
        text-align: center;
        border-radius: 7px;
        background-color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-left: 15px;
    }
}

.form-container {
    padding: 10px;
    background-color: rgba(246, 242, 242, 0.661);;
}
::ng-deep .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 16px;
}
::ng-deep .column-title{
    font-size: 18px;
    font-weight: 500;
    // margin-bottom: 10px;
    // padding: 10px;
    background-color: #fff;
}
::ng-deep .column{
    padding: 15px;
    background-color: #fff;
    height: fit-content;
}
::ng-deep .checkbox-design{
    .mdc-text-field--no-label .mat-mdc-form-field-infix{
        padding: 0;
        min-height: fit-content;
    }
    .mdc-line-ripple::before ,.mdc-line-ripple::after{
        border: none;
    }
}

::ng-deep .location-row{
    display: grid !important;
    grid-template-columns: 70% 30%;
    gap: 10px;
    align-items: baseline;
    button{
        width: 98% ;
    }
}
::ng-deep .address-row,
::ng-deep .contact-row {
    display: grid !important;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    align-items: baseline;
}

::ng-deep .support-row{
    display: grid !important;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    align-items: baseline;
}
::ng-deep .date-row,
::ng-deep .schedule-row {
    display: grid !important;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    align-items: baseline;
}

::ng-deep .total-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
}
::ng-deep .left-column,
::ng-deep .right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
::ng-deep .order-details ,
::ng-deep .order-location,
::ng-deep .schedule{
    padding: 15px;
    // background-color: #4d0ce5;
    background-color: #fff;
    height: fit-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    formly-group{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}


