<div class="home-container">
  <app-header></app-header>
  <app-sub-header></app-sub-header>
  
  <div class="section-top">
    <div class="content-1">
      <div class="content-name">Active</div>
      <div class="value">{{ activeCount }}</div>
    </div>
    <div class="content-2">
      <div class="content-name">Nearing Milestone</div>
      <div class="value">{{ nearingMilestoneCount }}</div>
    </div>
    <div class="content-3">
      <div class="content-name">Open Issues</div>
      <div class="value">{{ openIssuesCount }}</div>
    </div>
    <div class="content-4">
      <div class="content-name">Completed Orders</div>
      <div class="value">{{ completedOrdersCount }}</div>
    </div>
  </div>
  
  <div class="section-bottom">
    <!-- Active Orders Table -->
    <div class="content-1-details">
      <div class="heading">
        <div class="title">Active Orders</div>
        <mat-icon>download</mat-icon>
      </div>
      <div class="details-table">
        <div class="spinner-overlay" *ngIf="isTableActiveLoading">
          <mat-spinner></mat-spinner>
        </div>
        <ag-grid-angular
          class="ag-theme-alpine"
          style="width: 100%; height: 240px;"
          [rowData]="dataSourceActive"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          (bodyScroll)="onTableActiveScroll()"
        ></ag-grid-angular>
      </div>
      
    </div>

    <!-- Nearing Milestone Table -->
    <div class="content-2-details">
      <div class="heading">
        <div class="title">Nearing Milestone</div>
        <mat-icon>download</mat-icon>
      </div>
      <div class="details-table">
        <div class="spinner-overlay" *ngIf="isTableMilestoneLoading">
          <mat-spinner></mat-spinner>
        </div>
        <ag-grid-angular
          class="ag-theme-alpine"
          style="width: 100%; height: 240px;"
          [rowData]="dataSourceNearingMilestone"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          (bodyScroll)="onTableMilestoneScroll()"
        >
        </ag-grid-angular>
      </div>
    </div>

    <!-- Open Issues Table -->
    <div class="content-3-details">
      <div class="heading">
        <div class="title">Open Issues</div>
        <mat-icon>download</mat-icon>
      </div>
      <div class="details-table">
        <div class="spinner-overlay" *ngIf="isTableIssuesLoading">
          <mat-spinner></mat-spinner>
        </div>
        <ag-grid-angular
          class="ag-theme-alpine"
          style="width: 100%; height: 240px;"
          [rowData]="dataSourceOpenIssues"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          (bodyScroll)="onTableIssuesScroll()"
        >
        </ag-grid-angular>
      </div>
    </div>

    <!-- Completed Orders Table -->
    <div class="content-4-details">
      <div class="heading">
        <div class="title">Completed Orders</div>
        <mat-icon>download</mat-icon>
      </div>
      <div class="details-table">
        <div class="spinner-overlay" *ngIf="isTableCompleteLoading">
          <mat-spinner></mat-spinner>
        </div>
        <ag-grid-angular
          class="ag-theme-alpine"
          style="width: 100%; height: 240px;"
          [rowData]="dataSourceCompletedOrders"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          (bodyScroll)="onTableCompleteScroll()"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
